* {
	border-radius: 5px;
	font-family: "Barlow Condensed", sans-serif;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, 0.65);
	text-shadow: 1px 1px 3px black;
}

body {
	background-image: url("moon.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.topnav {
	width: 100%;
	display: flex;
	position: sticky;
	top: 0;
}

.topnav a {
	text-decoration: none;
	font-size: 1.5em;
}

.logo {
	margin: 1em;
	font-size: 1.8em;
}

.intNav {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: auto;
}

.intNav a {
	margin-inline: 1em;
	vertical-align: middle;
}

.intNav a:hover {
	color: white;
}

.title {
	width: 80%;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	margin-inline: auto;
	text-align: center;
	font-size: 5vw;
}

.header {
	width: 80%;
	margin-bottom: .5em;
	margin-inline: auto;
	text-align: center;
	font-size: 2vw;
}

.calc {
	width: 300px;
	margin-inline: auto;
	background-color: rgba(0, 0, 0, 0.0);
	box-shadow: 0px 0px 3px black;
}

button {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 5px;
    width: 125px;
}

button:hover {
    background-color: #f2f2f2;
    color: rgba(51, 51, 51, 0.3);
    box-shadow: 1px 1px 5px grey;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

input, select, textarea {
    background-color: rgba(0, 0, 0, 0.65);
}

#iconCalc {
	width: 90%;
	margin: auto;
	text-align: center;
}

.calc {
	
}

.calc h2 {
	text-align: center;
	margin: .3em;
}

.buy {
	width: 90%;
	margin-inline: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.spacer {
    grid-row: 3;
}

.reset:hover {
    background-color: rgba(255, 0, 0, 0.65)
}

.mainContent {
	width: 80%;
	margin-inline: auto;
}

.mainGrid {
	width: 80%;
	margin-inline: auto;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 1em;
}

.card {
	padding: 1em;
	margin-bottom: 1em;
	box-shadow: 1px 1px 3px black;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.bio {
	display: flex;
	padding: 1em;
	margin-bottom: 1em;
	box-shadow: 1px 1px 3px black;
	text-shadow: 1px 1px 3px black;
}

.manphoto img {
	max-height: 300px;
	margin-right: 1em;
}

.manbio h4 {
	color: rgb(0, 0, 0);
	text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3)
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

ul {
	padding: 1em;
}

#aboutUs h2 {
	text-align: center;
	margin-bottom: .5em;
	font-size: 2em;
}

#aboutUs img {
	width: 100%;
	margin-inline: auto;
}